<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multi.schooldiary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".notification.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".options.ConsoleActivity"></activity>
        <activity android:name=".school.MainPageActivity" />
        <activity android:name=".timetable.TimeTableActivity" />
        <activity android:name=".timetable.TimeTableActivityConsole" />
        <activity android:name=".options.FaqsActivity" />
        <activity android:name=".dashboard.student_or_guardian.StudentJoinFragmentActivity" />
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".notice.NoticeConsoleActivity" />
        <activity android:name=".options.SettingActivity" />
        <activity android:name=".dashboard.principal.CollegeFragmentActivity" />
        <activity android:name=".dashboard.principal.SchoolFragmentActivity" />
        <activity android:name=".dashboard.teacher.TeacherFragmentActivity" />
        <activity android:name=".notification.NotificationControlActivity" />
        <activity android:name=".dashboard.teacher.AddStudentActivity" />
        <activity android:name=".dashboard.teacher.AttendanceRegisterActivity" />
        <activity android:name=".dashboard.teacher.AttendanceTodayActivity" />
        <activity android:name=".dashboard.teacher.ManageClassActivity" />
        <activity android:name=".dashboard.teacher.AttendanceActivity" />
        <activity android:name=".dashboard.teacher.ExportToPdfActivity" />
        <activity android:name=".dashboard.principal.TeacherRequestActivity" />
        <activity android:name=".dashboard.student_or_guardian.StudentGuardianActivity" />
        <activity android:name=".dashboard.student_or_guardian.RequestActivity" />
        <activity android:name=".dashboard.teacher.StudentRequestActivity" />
        <activity android:name=".dashboard.teacher.TeacherActivity" />
        <activity android:name=".dashboard.teacher.GuardianRequestActivity" />
        <activity android:name=".dashboard.principal.PrincipalActivity" />
        <activity android:name=".dashboard.teacher.EditStudentActivity" />
        <activity android:name=".activity.SetDefaultActivity" />
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notification.MyService" />
        <service
            android:name=".notification.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>